In [4]:
import numpy as np
import pandas as pd

## Import the dataset

In [165]:
#fetch Data
df =  pd.read_csv("../Data/BankCustomerChurnPrediction.csv")
df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Get the attrebutes as X, and the Target as (y)

In [166]:
y = pd.DataFrame(df['estimated_salary'])
X = df.drop(['estimated_salary'], axis=1)

In [64]:
X.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,0

In [65]:
y.head()

   estimated_salary
0         101348.88
1         112542.58
2         113931.57
3          93826.63
4          79084.10

---
# Splitting Data without libraries

### Train-Test Split

1. Get 80% of the datase indecies randomaly (using Numpy Random Function) 
2. Get training samples using the indecies
3. Get testing smaples using the remaining indecies after removing the training indices

In [67]:
# get random index numbers for training 
Train_indexes = np.random.rand(len(X)) <= 0.8
X_train = X[Train_indexes]
y_train = y[Train_indexes]

X_test = X[~Train_indexes]
y_test = y[~Train_indexes]

len(df),len(X_train),len(X_test)

(10000, 8046, 1954)

The problem here is that the condition for the split size is not difinate <br>
(<= 0.8) lesss than or equal to 80% will give use aproximate number of indices that will change everytime we run the code

We can do better using Sample function from pandas.

1. Get 80% of the datase indecies randomaly (using Pandas Sample Function) and assign it to a new dataframe automatecly 
3. Get testing smaples using the remaining indecies after dropping the training indices


The number of indices in training and testing is fixed and more accurate

In [167]:
X_train = X.sample(frac=0.8,random_state=200)
y_train = y.iloc[X_train.index]
X_test = X.drop(X_train.index)
y_test = y.iloc[X_test.index]

len(df),len(X_train),len(X_test)

(10000, 8000, 2000)

In [174]:
print(y_test)

      estimated_salary
2            113931.57
3             93826.63
5            149756.71
17            14406.41
18           158684.81
...                ...
9951          60739.16
9967         158590.25
9969         112585.19
9973         157474.10
9988          49337.84

[2000 rows x 1 columns]

In [176]:
H = pd.DataFrame([1,2,3,4,5,6,7,8,9,10])
b = pd.DataFrame(['a','b','c','d','e','f','g','h','i','j'])


h_train = H.sample(frac=0.8,random_state=200)
b_train = b.iloc[h_train.index]
h_test = H.drop(h_train.index)
b_test = b.iloc[h_test.index]

len(H),len(h_train),len(h_test)

(10, 8, 2)

### Using Numpy

In [178]:
X = [1,2,3,4,5,6,7,8,9,10]
Y = ['a','b','c','d','e','f','g','h','i','j']
sample_size = int(0.8*len(X))

#%% Method 1:  shuffle the whole matrix arr and then split
# Taking the first 80 of indices for training and the rest for testing 
np.random.shuffle(X)
x_train, x_test, y_train, y_test = X[:sample_size,:], X[sample_size:, :], Y[:sample_size, ], Y[sample_size:,]

    0
0   1
9  10

### Cross-Validation

### K-fold Cross Validation

In [ ]:
import numpy as np

### Leave One Out Cross Validation (LOOCV)

---
# Split Data Using PyTorch

### Train-Test Split

### Cross-Validation

### K-fold Cross Validation

### Leave One Out Cross Validation (LOOCV)

---
# Split Data Using sikit-learn

### Train-Test Split

In [50]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df , y, test_size=0.33, random_state=42)

ValueError: too many values to unpack (expected 2)

### Cross-Validation

### K-fold Cross Validation

### Leave One Out Cross Validation (LOOCV)